@use "./variables/colors";

.cart {
	padding: 16px 24px;

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		&-heading {
			color: colors.$dark-primary-color;
			font-size: 20px;
			font-weight: 600;
		}
		&-total {
			color: colors.$dark-primary-color;
			font-size: 28px;
			font-weight: 600;
		}
	}
	&__items {
		display: flex;
		width: 100%;
		margin-top: 16px;
		box-sizing: border-box;
		flex-direction: column;
		align-items: center;
		gap: 24px 0px;
	}
}
