@use "./variables/colors";

.cartproduct {
	background-color: colors.$light-secondary-color;
	display: flex;
	flex-direction: column;
	gap: 24px 0px;
	width: 95%;
	border-radius: 20px;
	box-sizing: border-box;
	padding: 24px 32px;
	border: 1px solid transparent;

	&:hover {
		border: 1px solid colors.$light-primary-color;
	}

	&__img-container {
		width: 95%;
		height: 150px;
		box-sizing: border-box;
		padding: 32px 32px;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: colors.$white-color;
		justify-content: center;
		border-radius: 24px;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__detail-container {
		display: flex;
		flex-direction: column;
		&-category {
			align-self: flex-start;
			background-color: colors.$dark-secondary-color;
			padding: 8px 16px;
			font-size: 10px;
			color: colors.$light-primary-color;
			border-radius: 8px;
			margin-bottom: 8px;
		}

		&-title {
			color: colors.$dark-secondary-color;
			font-size: 16px;
			font-weight: bold;
			align-self: flex-start;
		}

		&-rating {
			color: colors.$yellow-color;
			font-size: 16px;
			align-self: flex-start;
		}

		&-price {
			color: colors.$dark-secondary-color;
			font-weight: bold;
			font-size: 16px;
			align-self: flex-start;
		}

		&-counter {
			display: flex;
			align-items: center;
			margin-top: 16px;
			gap: 10px;
			button {
				padding: 8px 16px;
				border: none;
				border-radius: 12px;
				text-align: center;
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: colors.$dark-primary-color;
				color: colors.$light-secondary-color;
				cursor: pointer;
				font-size: 16px;
				border: 1px solid transparent;
				&:hover {
					border: 1px solid colors.$dark-primary-color;
					background-color: colors.$light-secondary-color;
					color: colors.$dark-primary-color;
				}
			}

			span {
				padding: 8px 32px;
				background-color: colors.$white-color;
				border-radius: 8px;
				font-size: 16px;
				font-weight: 700;
				color: colors.$dark-primary-color;
			}
		}

		&-btn {
			padding: 8px 16px;
			border: none;
			border-radius: 8px;
			text-align: center;
			background-color: colors.$dark-primary-color;
			color: colors.$light-secondary-color;
			cursor: pointer;
			font-size: 16px;
			// align-self: flex-start;
			margin-top: 24px;
			border: 1px solid transparent;
			&:hover {
				border: 1px solid colors.$dark-primary-color;
				background-color: colors.$light-secondary-color;
				color: colors.$dark-primary-color;
			}
		}
	}
}

@media (min-width: 768px) {
	.cartproduct {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 0px 24px;
		width: 80%;
		&__img-container {
			width: 250px;
			height: 200px;
			box-sizing: border-box;
			padding: 32px 32px;
			display: flex;
			flex-direction: column;
			align-items: center;
			background-color: colors.$white-color;
			justify-content: center;
			border-radius: 24px;
			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
		&__detail-container {
			display: flex;
			flex-direction: column;
			&-category {
				align-self: flex-start;
				background-color: colors.$dark-secondary-color;
				padding: 8px 16px;
				font-size: 10px;
				color: colors.$light-primary-color;
				border-radius: 8px;
				margin-bottom: 8px;
			}

			&-title {
				color: colors.$dark-secondary-color;
				font-size: 24px;
				font-weight: bold;
				align-self: flex-start;
			}

			&-rating {
				color: colors.$yellow-color;
				font-size: 20px;
				align-self: flex-start;
			}

			&-price {
				color: colors.$dark-secondary-color;
				font-weight: bold;
				font-size: 20px;
				align-self: flex-start;
			}

			&-counter {
				display: flex;
				align-items: center;
				margin-top: 16px;
				gap: 10px;
				button {
					padding: 8px 16px;
					border: none;
					border-radius: 12px;
					text-align: center;
					display: flex;
					align-items: center;
					justify-content: center;
					background-color: colors.$dark-primary-color;
					color: colors.$light-secondary-color;
					cursor: pointer;
					font-size: 16px;
					border: 1px solid transparent;
					&:hover {
						border: 1px solid colors.$dark-primary-color;
						background-color: colors.$light-secondary-color;
						color: colors.$dark-primary-color;
					}
				}

				span {
					padding: 8px 32px;
					background-color: colors.$white-color;
					border-radius: 8px;
					font-size: 16px;
					font-weight: 700;
					color: colors.$dark-primary-color;
				}
			}

			&-btn {
				padding: 8px 16px;
				border: none;
				border-radius: 8px;
				text-align: center;
				background-color: colors.$dark-primary-color;
				color: colors.$light-secondary-color;
				cursor: pointer;
				font-size: 12px;
				align-self: flex-start;
				margin-top: 24px;
				border: 1px solid transparent;
				&:hover {
					border: 1px solid colors.$dark-primary-color;
					background-color: colors.$light-secondary-color;
					color: colors.$dark-primary-color;
				}
			}
		}
	}
}
