@use "./variables/colors";

.banner {
	display: flex;
	width: 100%;
	flex-direction: column;
	box-sizing: border-box;
	gap: 24px;

	align-items: center;
	justify-content: center;
	background-color: colors.$dark-primary-color;
	color: colors.$light-primary-color;
	padding: 40px 24px;

	&__title {
		font-size: 40px;
		// font-size: 48px;
		font-weight: 700;
		text-align: center;
	}

	&__search {
		display: flex;
		justify-content: space-between;
		// width: 50%;
		width: 80%;
		align-items: center;
		border: 1px solid colors.$light-secondary-color;
		color: colors.$light-secondary-color;
		padding: 8px 8px 8px 24px;
		border-radius: 50px;
		&--input {
			background: none;
			outline: none;
			width: 100%;
			height: 100%;
			color: colors.$light-secondary-color;
			border: none;
		}

		&--btn {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 12px;
			background-color: colors.$light-secondary-color;
			color: colors.$dark-primary-color;
			border: none;
			cursor: pointer;
			border-radius: 100%;
			outline: none;
			text-align: center;
			font-size: 20px;
			-webkit-border-radius: 100%;
			-moz-border-radius: 100%;
			-ms-border-radius: 100%;
			-o-border-radius: 100%;
		}
	}

	&__scroll {
		display: flex;
		gap: 16px;
		margin-top: 56px;
		flex-direction: column;
		align-items: center;
		color: colors.$light-secondary-color;
		&-title {
			font-size: 16px;
			font-weight: 300;
		}
		&-icon {
			background-color: colors.$light-secondary-color;
			color: colors.$dark-primary-color;
			padding: 16px;
			font-size: 24px;
			border-radius: 32px;
			-webkit-border-radius: 32px;
			-moz-border-radius: 32px;
			-ms-border-radius: 32px;
			-o-border-radius: 32px;
		}
	}
}

@media (min-width: 768px) {
	.banner {
		&__title {
			font-size: 48px;
		}
		&__search {
			width: 50%;
		}
	}
}
