@use "./variables/colors";

.home {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
}

.products {
	width: 100%;
	display: grid;
	box-sizing: border-box;
	grid-template-columns: 1fr;
	gap: 32px;
	padding: 0px 32px 24px 32px;
}

@media (min-width: 640px) {
	.products {
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 768px) {
	.products {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
@media (min-width: 1024px) {
	.products {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}
@media (min-width: 1280px) {
	.products {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}
@media (min-width: 1536px) {
	.products {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}
}

.heading {
	padding: 24px 32px;
	color: colors.$dark-primary-color;
	align-self: flex-start;
}
