@use "./variables/colors";

.nav {
	background-color: colors.$dark-primary-color;
	display: flex;
	align-items: center;
	position: sticky;
	top: 0;
	padding: 16px 24px;
	justify-content: space-between;

	&__logo {
		font-size: 32px;
		font-weight: bold;
		color: colors.$light-primary-color;
	}

	&__menu {
		color: colors.$light-secondary-color;
		display: flex;
		align-items: center;
		gap: 10px;

		&--cart {
			display: flex;
			align-items: flex-start;

			&-icon {
				font-size: 32px;
				// color: colors.$dark-primary-color;
				padding: 8px;
				border: 1px solid colors.$light-secondary-color;
				border-radius: 24px;
				color: colors.$light-secondary-color;
				-webkit-border-radius: 24px;
				-moz-border-radius: 24px;
				-ms-border-radius: 24px;
				-o-border-radius: 24px;
			}

			&-label {
				padding: 1px 8px;
				border-radius: 20px;
				background-color: colors.$light-primary-color;
				color: colors.$dark-primary-color;
				margin-left: -8px;
				-webkit-border-radius: 20px;
				-moz-border-radius: 20px;
				-ms-border-radius: 20px;
				-o-border-radius: 20px;
			}
		}

		&--account {
			display: flex;
			align-items: center;

			&-icon {
				font-size: 32px;
				color: colors.$dark-primary-color;
				padding: 8px;
				border-radius: 24px;
				background-color: colors.$light-secondary-color;
			}
		}
	}
}
