@use "./variables/colors";

.product {
	background-color: colors.$light-secondary-color;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 20px;
	box-sizing: border-box;
	padding: 24px 32px;
	gap: 8px 0px;
	border: 1px solid transparent;

	&:hover {
		border: 1px solid colors.$light-primary-color;
	}

	&__img-container {
		width: 100%;
		height: 170px;
		box-sizing: border-box;
		padding: 32px 24px;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: colors.$white-color;
		justify-content: center;
		border-radius: 24px;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__category {
		align-self: flex-end;
		background-color: colors.$dark-secondary-color;
		padding: 8px 16px;
		font-size: 12px;
		color: colors.$light-primary-color;
		border-radius: 8px;
		margin-bottom: 8px;
	}

	&__title {
		color: colors.$dark-secondary-color;
		font-size: 16px;
		font-weight: bold;
		align-self: flex-start;
	}

	&__rating {
		color: colors.$yellow-color;
		font-size: 24px;
		align-self: flex-start;
	}

	&__price {
		color: colors.$dark-secondary-color;
		font-weight: bold;
		font-size: 24px;
		align-self: flex-start;
	}

	&__btn {
		width: 100%;
		padding: 12px 16px;
		border: none;
		border-radius: 12px;
		font-size: 16px;
		text-align: center;
		background-color: colors.$dark-primary-color;
		color: colors.$light-secondary-color;
		cursor: pointer;
		border: 1px solid transparent;
		&:hover {
			border: 1px solid colors.$dark-primary-color;
			background-color: colors.$light-secondary-color;
			color: colors.$dark-primary-color;
		}
	}
}
